body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100%;            
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;          
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form label,
.form input,
.form button {
    margin-bottom: 5px;
}

button {
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.top-right-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

